{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "^next(.*)",
    "^@tanstack/(.*)$",
    "^@pages/(.*)$",
    "^@utils/(.*)$",
    "^@stores/(.*)$",
    "^@hooks/(.*)$",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^@public/(.*)$",
    "^@/(.*)$",
    "^@(.*)$",
    "^styles/(.*)$",
    "^@core/(.*)$",
    "^[./]",
    "^types"
  ],
  "importOrderSeparation": true
}
