/**
 * 이는 Tailwind의 기본 스타일과 플러그인에 등록된 기본 스타일을 삽입합니다.
 */
@tailwind base;

/**
 * 이는 Tailwind의 구성 요소 클래스 및 플러그인에 등록된 구성 요소 클래스를 삽입합니다.
 */
@tailwind components;

/**
* 이는 Tailwind의 유틸리티 클래스 및 플러그인에 등록된 유틸리티 클래스를 삽입합니다.
*/
@tailwind utilities;

@layer base {
  :root {
    --primary-1: #9021ff;
    --primary-2: #a448ff;
    --primary-3: #d9b3ff;
    --primary-4: #e6ddf0;
    --primary-5: #7844ad;
    --point-1: #40ff81;
    --point-2: #a7ffc5;
    --point-3: #25cf5f;
    --gray-1: #292a2e;
    --gray-2: #3b3c42;
    --gray-3: #4d535b;
    --gray-4: #8993a0;
    --gray-5: #b4bfce;

    font-size: 10px;
  }
}

@layer components {
  .h1 {
    @apply text-h1 leading-h1;
  }
  .h2 {
    @apply text-h2 leading-h2;
  }
  .h3 {
    @apply text-h3 leading-h3;
  }
  .st1 {
    @apply text-st1 leading-st;
  }
  .st2 {
    @apply text-st2 leading-st;
  }
  .p1 {
    @apply text-p1 leading-p1;
  }
  .p2 {
    @apply text-p2 leading-p2;
  }
  .c1 {
    @apply text-c1 leading-c1;
  }
  .c2 {
    @apply text-c2 leading-c2;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  @keyframes loading {
    0% {
      opacity: 0;
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  .skeleton-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #29292e 0%, #29292e 20%, #181818 88%, #181818 100%);
    animation: loading 1s infinite linear forwards;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  touch-action: auto;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
